@model WebAPI.Models.PatientMantelzorger

@{
    ViewBag.Title = "Verwijder";
}

<br />

<h2>Verwijderen mantelzorger "@Model.Vnaam @Model.Anaam"</h2>

<br />

<hr />

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<br />

<h4>Weet u zeker dat u deze mantelzorger wilt verwijderen?</h4>

<br />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Verwijder mantelzorger" class="btn btn-default" />
    </div>
}


<br />
<br />
<br />
<br />

<button class="btn btn-default" onclick="location.href='@Url.Action("Index")'">
    Terug
</button>



