@model WebAPI.Models.VragenlijstVersturenModel

@{
    ViewBag.Title = "Vragenlijst versturen";
}

<br />

<h2>Vragenlijst versturen</h2>

<br />

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Patienten, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="patientSelector">
                    @foreach (var item in Model.Patienten)
                    {
                        <option value="@item.Id">@item.Vnaam @item.Anaam</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mantelzorgers, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="patient">
                    @foreach (var item in Model.Mantelzorgers)
                    {
                        <option value="@item.Id">@item.Vnaam @item.Anaam</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vragenlijsten, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="patient">
                    @foreach (var item in Model.Vragenlijsten)
                    {
                        <option value="@item.Id">@item.Beschrijving</option>
                    }
                </select>
            </div>
        </div>

        <br/>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Verstuur vragenlijst" class="btn btn-default" />
            </div>
        </div>
    </div>
}

