@model WebAPI.Models.RapportDetailsModel

@{
    ViewBag.Title = "Show";

    int i = 1;

    var antwoordBeschrijvingen = new String[] { "Verloopt naar wensen", "Niet hinderlijk", "Hinderlijk voor Pätiënt", "Hinderlijk voor mantelzorger", "Hinderlijk voor beide" };
    var antwoordExtraBeschrijvingen = new String[] { "", "Ja", "Nee" };
}

<br />

<h3>Patiënt: @Model.PatientVnaam @Model.PatientAnaam</h3>
<h3>Mantelzorger: @Model.MantelzorgerVnaam @Model.MantelzorgerAnaam</h3>
<h3>Datum: @Model.Date.Day/@Model.Date.Month/@Model.Date.Year</h3>


<br />

<hr />

<table style="font-size:15px">

    <tr>
        <th>&nbsp</th>
        <th>Vraag</th>
        <th>Patiënt</th>
        <th>Mantelzorger</th>
        <th>Wil patiënt hier aan werken?</th>
        <th>Wil mantelzorger hier aan werken?</th>
    </tr>

    <tr></tr>

    @foreach (var item in Model.Vragen)
    {
        <tr>
            <td>@i</td>
            <td>@item.Beschrijving</td>
            <td>@antwoordBeschrijvingen[@Model.Antwoorden[i - 1].AntwoordInt - 1]</td>
            <td>@antwoordBeschrijvingen[@Model.Antwoorden[(i - 1) + (Model.Antwoorden.Length / 2)].AntwoordInt - 1]</td>
            <td>@antwoordExtraBeschrijvingen[@Model.Antwoorden[i - 1].AntwoordExtra]</td>
            <td>@antwoordExtraBeschrijvingen[@Model.Antwoorden[(i - 1) + (Model.Antwoorden.Length / 2)].AntwoordExtra]</td>
        </tr>

        i++;
    }

</table>

<br />
<br />
<br />

<button class="btn btn-default" onclick="location.href='@Url.Action("Index")'">
    Terug
</button>