@model IEnumerable<WebAPI.Models.Vragenlijst>

    @{
        ViewBag.Title = "Vragenlijsten";
    }
    <br />

    <h2>Vragenlijsten</h2>

    <br />

    <button class="btn btn-default" onclick="location.href='@Url.Action("Create")'">
        Voeg vragenlijst toe
    </button>

    <hr />

    <table>

        <tr>
            <th>Beschrijving</th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Beschrijving</td>
                <td>&nbsp;</td>
                <td>
                    <button class="btn btn-default" onclick="location.href='@Url.Action("Show", new { id = item.Id })'">
                        Bekijk
                    </button>
                </td>
                <td>
                    <button class="btn btn-default" onclick="location.href='@Url.Action("Edit", new { id = item.Id })'">
                        Wijzig
                    </button>
                </td>
                <td>
                    <button class="btn btn-default" onclick="location.href='@Url.Action("Delete", new { id = item.Id })'">
                        Verwijder
                    </button>
                </td>
            </tr>
        }
    </table>
