@model WebAPI.Models.CustomVragenlijst

@{
    ViewBag.Title = "Show";
    int i = 1;
}

<br />

<h2>Vragenlijst @Model.Beschrijving</h2>

<br />

    @*<button class="btn btn-default" onclick="location.href='@Url.Action("Edit", new { id = Model.Id })'">
        Wijzig vragenlijst
    </button>*@

<hr />

<table>

    <tr>
        <th>&nbsp</th>
        <th>Vraag</th>
    </tr>


    @foreach (var item in Model.Vragen)
    {
        <tr>
            <td>@i</td>
            <td>@item.Beschrijving</td>
        </tr>

        i++;
    }

</table>

<br />
<br />
<br />

<button class="btn btn-default" onclick="location.href='@Url.Action("Index")'">
    Terug
</button>